﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Rabia Ana Yemek Evi</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Rabia Ana Yemek Evi", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
           
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(@Resources.menu.home, "Index", "Home")</li>
                    <li>@Html.ActionLink(@Resources.menu.taste, "UrunFiyat", "Home")</li>
                    <li>@Html.ActionLink(@Resources.menu.contact, "Contact", "Home")</li>
                    @using Microsoft.AspNet.Identity
                    @if (User.IsInRole("Admin")){
                        
                    <li>@Html.ActionLink("Yonetici", "Index", "Yonetici")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Rabia Ana Yemek Evi-Ana elinden yemek sipariş sitesi.Tum hakları saklıdır</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
