﻿@model IEnumerable<YemekSiparis.Models.UrunFiyat>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Birim.BirimAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Urun.UrunAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fiyat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imagePath)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Birim.BirimAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Urun.UrunAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fiyat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imagePath)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.UrunFiyatID }) |
                @Html.ActionLink("Details", "Details", new { id=item.UrunFiyatID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.UrunFiyatID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
