﻿@model YemekSiparis.Models.Birim

@{
    ViewBag.Title = "Birim Silme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Birim Silme Ekranı</h2>

<h3>Silmek istediğinizden emin misiniz?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BirimAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirimAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birimAciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birimAciklama)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Geri", "Birimler")
        </div>
    }
</div>
