﻿@model IEnumerable<YemekSiparis.Models.Birim>

@{
    ViewBag.Title = "Birimler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Birimler Ekranı</h2>

<p>
    @Html.ActionLink("Yeni Birim  Oluştur", "CreateBirimler")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BirimAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.birimAciklama)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BirimAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.birimAciklama)
        </td>
        <td>          
            @Html.ActionLink("Sil", "DeleteBirimler", new { id=item.BirimID })
        </td>
    </tr>
}

</table>
