﻿@model List<Microsoft.AspNet.Identity.EntityFramework.IdentityUser>

@{
    ViewBag.Title = "Kullanıcı ve Rolleri";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kullanıcı ve Rolleri Ekranı</h2>

<p>
    @Html.ActionLink("Kullanıcıya Rol Ekle", "KullaniciRolEkle")
</p> 
<table class="table">
    <tr>
        <th>
            Rol Adı
        </th>        
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
           
           
            
                  
        </tr>
}

</table>



