﻿@model List<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Roller";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Rol Ekranı</h2>

<p>
    @Html.ActionLink("Yeni Rol Oluştur", "RolEkle")
   </p> 
<p>
   @Html.ActionLink("Yeni Kullanıcı Rol Oluştur", "RolKullaniciEkle")
</p> 


<table class="table">
    <tr>
        <th>
            Rol Adı
        </th>        
        <th>Kayıtlı Kullanıcı Sayısı</th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)     
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users.Count)      
            </td>
                          
        </tr>
}

</table>



