﻿@model IEnumerable<YemekSiparis.Models.UrunFiyat>

@{
    ViewBag.Title = "Ürün-Fiyat";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ürün-Fiyat Oluşturma Ekranı</title>
</head>
<body>
    <br />
    <br />

    <p>
        @Html.ActionLink("Yeni Ürün-Fiyat Oluştur", "CreateUrunFiyat")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Birim.BirimAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Urun.UrunAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fiyat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imagePath)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Birim.BirimAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Urun.UrunAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fiyat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imagePath)
            </td>
            <td>
                @Html.ActionLink("Güncelle", "EditUrunFiyat", new { id=item.UrunFiyatID }) |                
                @Html.ActionLink("Sil", "DeleteUrunFiyat", new { id=item.UrunFiyatID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
