﻿@model YemekSiparis.Models.UrunFiyat

@{
    ViewBag.Title = "Ürün-Fiyat Silme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ürün-Fiyat Silme Ekranı</title>
</head>
<body>
    <h3>Silmek istediğinizden emin misiniz?</h3>
    <div>
       <br />
        <br />
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Birim.BirimAdi)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Birim.BirimAdi)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Urun.UrunAdi)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Urun.UrunAdi)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.fiyat)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.fiyat)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.imagePath)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.imagePath)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Sil" class="btn btn-default" /> |
                @Html.ActionLink("Geri", "UrunFiyat")
            </div>
        }
    </div>
</body>
</html>
