﻿@model YemekSiparis.Models.Urun

@{
    ViewBag.Title = "Ürün Silme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Ürün Silme Ekranı</h2>

<h3>Silmek istediğinizden emin misiniz?</h3>
<div>
    <h4>Urun</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UrunGrubu.UrunGrubuAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunGrubu.UrunGrubuAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunAdi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Geri", "Urunler")
        </div>
    }
</div>
