﻿@model YemekSiparis.Models.UrunGrubu

@{
    ViewBag.Title = "Ürün Grubu Güncelleme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<p />
<h2>Ürün Grubu Güncelleme Ekranı</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UrunGrubuID)

        <div class="form-group">
            @Html.LabelFor(model => model.UrunGrubuAdi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UrunGrubuAdi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UrunGrubuAdi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Geri", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
