﻿@model IEnumerable<YemekSiparis.Models.Urun>

@{
    ViewBag.Title = "Urunler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Ürünler Ekranı</h2>

<p>
   @Html.ActionLink("Yeni Ürün  Oluştur", "CreateUrunler")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UrunGrubu.UrunGrubuAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UrunAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UrunGrubu.UrunGrubuAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrunAdi)
        </td>
        <td>
            @Html.ActionLink("Düzelt", "EditUrunler", new { id=item.UrunID }) |           
            @Html.ActionLink("Sil", "DeleteUrunler", new { id=item.UrunID })
        </td>
    </tr>
}

</table>
