﻿@model YemekSiparis.Models.UrunGrubu

@{
    ViewBag.Title = "Ürün Grubu Silme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<p />
<h2>Ürün Grubu Silme Ekranı</h2>

<h3>Silmek istediğinizden emin misiniz?</h3>
<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UrunGrubuAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunGrubuAdi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Geri", "UrunGruplari")
        </div>
    }
</div>
