﻿@model YemekSiparis.Models.Urun

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Urun</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UrunGrubu.UrunGrubuAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunGrubu.UrunGrubuAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrunAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunAdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UrunID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
