﻿@model YemekSiparis.Models.UrunGrubu

@{
    ViewBag.Title = "Ürünler";
}

<h2>Ürünler</h2>

<div>
      <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UrunGrubuAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrunGrubuAdi)
        </dd>
        <dd>
            <table class="table">
                <tr>
                    <th>Ürün Adı</th>                    
                </tr>
                @foreach (var item in Model.Urunler)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.UrunAdi)</td>                       

                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Güncelle", "Edit", new { id = Model.UrunGrubuID }) |
    @Html.ActionLink("Geri", "Index")
</p>
