﻿@model IEnumerable<YemekSiparis.Models.UrunGrubu>

@{
    ViewBag.Title = "Ürün Çeşitleri";
}
<p/>
<h2>Ürün Grupları Ekranı</h2>

<p>
    @Html.ActionLink("Yeni Ürün Grubu Oluştur", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UrunGrubuAdi)         
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UrunGrubuAdi)
        </td>
        <td>
            @Html.ActionLink("Düzelt", "Edit", new { id=item.UrunGrubuID }) |
            @Html.ActionLink("Ürünler", "Details", new { id=item.UrunGrubuID }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.UrunGrubuID })
        </td>
    </tr>
}

</table>
