﻿@model IEnumerable<YemekSiparis.Models.Birim>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BirimAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.birimAciklama)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BirimAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.birimAciklama)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BirimID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BirimID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BirimID })
        </td>
    </tr>
}

</table>
