﻿@model YemekSiparis.Models.Birim

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Birim</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BirimAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirimAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.birimAciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.birimAciklama)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BirimID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
