﻿@{
    ViewBag.Title = "İletişim";
}
<h2>İletişim</h2>
<h3>Adres</h3>

<address>
    Marmara Eğitim Köyü 34857 <br />
    Maltepe/İSTANBUL<br />
    <abbr title="Telefon"></abbr>
    0212 330 30 60
</address>

<address>
    <strong>Destek:</strong>   <a href="mailto:Support@example.com">destek@rabiaAna.com.tr</a><br />   
</address>