﻿@model  YemekSiparis.Controllers.AnaSayfaDTO
@{
    ViewBag.Title = "Ana Sayfa";
}


<div class="jumbotron1" >
    <h1>Rabia Ana Yemek Evi </h1>
    <div>
        <ul>
            
                <li>                  
                        <img src="~/Content/images/BEDER.jpg" alt=""/>
                   
                   
                </li>
          
        </ul>
    </div>
    
</div>

<div class="row">
    <h2>Sağlığınız bizim için önemli</h2>   
    <p class="lead">Kullanılan tüm ürünlerin nereden alındığı,nasıl yapıldığını videolardan izleyebilirsiniz.</p>
    <p><a class="btn btn-default"  href="http://www.nefisyemektarifleri.com/video/">Videolar &raquo;</a></p>
</div>

