﻿@model   IEnumerable<YemekSiparis.Models.UrunFiyat>
@{
    ViewBag.Title = "Lezzetler";
}


<div id="lezzet">
    <h2>En yeni lezzetlerimiz</h2>
    <div class="col-md-3">
       
        @using (Html.BeginForm("CompleteSiparis", "Home"))
        {
            <input type="submit" class="btn btn-warning" value="Siparişi Tamamla" />
        }  
     <br/>   
       
        
            </div>
    <div class="row">


        @foreach (var item in Model)
            {
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="@item.imagePath"  style="max-height: 150px;" >
                    <div class="caption">
                        <h4 class="text-left" title="@item.Urun.UrunAdi">@item.Urun.UrunAdi</h4>
                        <p>@item.Birim.BirimAdi</p><span class="btn btn-primary text-right" role="button">@item.fiyat</span>TL<br />
                        <p>
                           @Html.ActionLink("Sepete Ekle","SepeteEkle",new  { id =item.UrunFiyatID})

                        </p>
                    </div>
                </div>
            </div>

            
        }


    </div>
</div>



