﻿@model IEnumerable<YemekSiparis.Models.Sepet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sepetim</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UrunFiyat.Urun.UrunAdi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UrunFiyat.Urun.UrunAdi)
        </td>
        
    </tr>
}

</table>
