﻿@model IEnumerable<YemekSiparis.Models.Siparis>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UrunFiyat.imagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.adSoyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.adres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefon)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UrunFiyat.imagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adSoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefon)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.SiparisID }) |
                @Html.ActionLink("Details", "Details", new { id=item.SiparisID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.SiparisID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
